<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AllTestsSuite">
    <test name="Tests">
        <classes>
            <class name="tests.LoginTest" ></class>
            <class name="tests.SearchTestFERIT" ></class>
            <class name="tests.LikeDislikeTest" ></class>
            <class name="tests.SubscribeTest" ></class>
        </classes>
    </test>
</suite>